[package]
name = "services"
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
version = { workspace = true }
publish = { workspace = true }
rust-version = { workspace = true }

[dependencies]
humantime = { workspace = true }
byte-unit = { workspace = true, features = ["byte", "u128"] }
alloy = { workspace = true }
async-trait = { workspace = true }
bytesize = { workspace = true }
fuel-block-committer-encoding = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
itertools = { workspace = true, features = ["use_alloc"] }
metrics = { workspace = true }
mockall = { workspace = true, optional = true }
nonempty = { workspace = true }
rand = { workspace = true, optional = true }
rayon = { workspace = true }
serde = { workspace = true }
sqlx = { workspace = true, features = ["chrono"] }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
trait-variant = { workspace = true }

[dev-dependencies]
test-case = { workspace = true }
clock = { workspace = true, features = ["test-helpers"] }
eth = { workspace = true, features = ["test-helpers"] }
mockall = { workspace = true }
services = { workspace = true, features = ["test-helpers"] }
pretty_assertions = { workspace = true, features = ["std"] }
storage = { workspace = true, features = ["test-helpers"] }
tai64 = { workspace = true }
tokio = { workspace = true, features = ["macros"] }
test-helpers = { workspace = true }
rand = { workspace = true, features = ["small_rng", "std", "std_rng"] }

[features]
test-helpers = ["dep:mockall", "dep:rand"]
