[package]
name = "fuel"
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
version = { workspace = true }
publish = { workspace = true }
rust-version = { workspace = true }

[dependencies]
delegate = { workspace = true }
fuel-core-client = { workspace = true, features = ["subscriptions"] }
fuel-core-types = { workspace = true, optional = true }
futures = { workspace = true }
metrics = { workspace = true }
services = { workspace = true }
url = { workspace = true }
cynic = { workspace = true, features = ["default"] }

[dev-dependencies]
tokio = { workspace = true, features = ["macros"] }

[build-dependencies]
cynic-codegen = { workspace = true }
fuel-core-client = { workspace = true }

[features]
test-helpers = ["dep:fuel-core-types"]
